{% extends "base.html" %}

{% block title %}
    List ChuZi
{% endblock %}


{% load extra_tags %}
{% block content %}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% url "AddChuZi" type as theaddchuziurl %}
            <a class="btn btn-default {%if request.path = theaddchuziurl%} active {%endif%}" href={{ theaddchuziurl }}><span class="glyphicon glyphicon-edit"></span>新建处字</a>
            {% url "ListChuZi" type as thelistchuziurl %}
            <a class="btn btn-default {%if request.path = thelistchuziurl%} active {%endif%}" href={{ thelistchuziurl }}><span class="glyphicon glyphicon-list"></span>处字列表</a>
        </div>
    </div>

    <hr/>

    <div id="toolbar">
        <form id="changelist-search" role="form" action={% url "SearchListChuZi" type %} method="POST">
            {% csrf_token %}
            <div><!-- DIV needed for valid HTML -->
            <label for="searchbar"><img src="/static/admin/img/icon_searchbox.png" alt="Search" /></label>
            <input type="text" size="40" name="query" value="" id="searchbar" />
            <input type="submit" value="Search" />
            </div>
        </form>
    </div>

    <table class="table table-hover table-striped  table-bordered table-condensed">
        <tr>
            <th>id</th>
            <th>文书号</th>

            <th>案件名称</th>
            <th>承办单位</th>
            <th>当事人</th>

            <th>文书所属单位</th>
            <th>决定书</th>
            <th>操作</th>
        </tr>

        {% for i in lPage %}
            <tr style="font-size: 13px;">
                <td>{{ i.id }}</td>
                <td>{{ i.informnumber }}</td>

                <td>{{ i.casename }}</td>
                <td>{{ i.handlingunit }}</td>
                <td>{{ i.litigant }}</td>

                {% with index=i.documentunit|add:'-1' %}
                    {% with item=config.left_panel|key:index %}
                    <td>{{item.name}}</td>
                    {% endwith %}
                {% endwith %}
                <td>{{ i.decisionnumber }}</td>
                <td class="host_buttom">
                    <a class="btn btn-warning btn-xs"  href={% url "EditChuZi" type i.id %} onclick="return confirm('是否确认编辑？')">编辑</a>
                    <a class="btn btn-danger btn-xs" href={% url "DeleteChuZi" type i.id %} onclick="return confirm('是否确认删除？')">删除</a>
                </td>
            </tr>
        {% endfor %}

    </table>

    {% include "common/paginator.html" %}

{% endblock %}
