{% extends "base.html" %}

{% block title %}
    Edit GaoZi
{% endblock %}

{% block content %}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% url "AddGaoZi" type as theaddgaoziurl %}
            <a class="btn btn-default {%if request.path = theaddgaoziurl%} active {%endif%}" href={{ theaddgaoziurl }}><span class="glyphicon glyphicon-edit"></span>新建告字</a>
            {% url "ListGaoZi" type as thelistgaoziurl %}
            <a class="btn btn-default {%if request.path = thelistgaoziurl%} active {%endif%}" href={{ thelistgaoziurl }}><span class="glyphicon glyphicon-list"></span>告字列表</a>
        </div>
    </div>

    <hr/>

    <form class="form-horizontal" role="form" action={% url "EditGaoZi" type ID %} method="POST" >
    {% csrf_token %}

        {% for item in form %}
            <div class="form-group">
                <label class="control-label col-md-1">{{item.label}}</label>
                <div class="col-md-2">
                    {{item}}
                </div>
                <div class="col-md-offset-1 col-md-10">
                    {{item.errors}}
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('确认更新吗？')">更 新</button>
            <div>
        </div>

    </form>

{% endblock %}
