{% extends "base.html" %}

{% block title %}
    Edit TingGaoZi
{% endblock %}

{% block content %}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% url "AddTingGaoZi" type as theaddtinggaoziurl %}
            <a class="btn btn-default {%if request.path = theaddtinggaoziurl%} active {%endif%}" href={{ theaddtinggaoziurl }}><span class="glyphicon glyphicon-edit"></span>新建听告字</a>
            {% url "ListTingGaoZi" type as thelisttinggaoziurl %}
            <a class="btn btn-default {%if request.path = thelisttinggaoziurl%} active {%endif%}" href={{ thelisttinggaoziurl }}><span class="glyphicon glyphicon-list"></span>听告字列表</a>
        </div>
    </div>

    <hr/>

    <form class="form-horizontal" role="form" action={% url "EditTingGaoZi" type ID %} method="POST" >
    {% csrf_token %}

        {% for item in form %}
            <div class="form-group">
                <label class="control-label col-md-1">{{item.label}}</label>
                <div class="col-md-2">
                    {{item}}
                </div>
                <div class="col-md-offset-1 col-md-10">
                    {{item.errors}}
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('确认更新吗？')">更 新</button>
            <div>
        </div>

    </form>

{% endblock %}
