{% extends "base.html" %}

{% block title %}
    Add TingGaoZi
{% endblock %}

{% load staticfiles  %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets.css' %}">
    <script type="text/javascript">window.__admin_media_prefix__ = "/static/";</script>
    <script type="text/javascript">window.__admin_utc_offset__ = "0";</script>
    <script src="{% static 'js/jsi18n.js' %}"></script>
    <script src="{% static 'js/core.js' %}"></script>
    <script src="{% static 'js/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.init.js' %}"></script>
    <script src="{% static 'js/actions.js' %}"></script>
    <script src="{% static 'js/calendar.js' %}"></script>
    <script src="{% static 'js/admin/DateTimeShortcuts.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% url "AddTingGaoZi" type as theaddtinggaoziurl %}
            <a class="btn btn-default {%if request.path = theaddtinggaoziurl%} active {%endif%}" href={{ theaddtinggaoziurl }}><span class="glyphicon glyphicon-edit"></span>新建听告字</a>
            {% url "ListTingGaoZi" type as thelisttinggaoziurl %}
            <a class="btn btn-default {%if request.path = thelisttinggaoziurl%} active {%endif%}" href={{ thelisttinggaoziurl }}><span class="glyphicon glyphicon-list"></span>听告字列表</a>
        </div>
    </div>

    <hr/>

    <form class="form-horizontal" role="form" action={% url "AddTingGaoZi" type %} method="POST" >
    {% csrf_token %}

        {% for item in form %}
            <div class="form-group">
                <label class="control-label col-md-1">{{item.label}}</label>
                <div class="col-md-2">
                    {{item}}
                </div>
                <div class="col-md-offset-1 col-md-10">
                    {{item.errors}}
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-danger btn-sm">新 增</button>
            <div>
        </div>

    </form>

{% endblock %}
