{% load i18n admin_static staticfiles %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
        <!-- Header -->
        <div class="container">
            <div class="navbar-header">
                {% block navbarbranding %}
                <a href="#" class="navbar-brand">办案取号系统</a>
                {% endblock %}
            </div>
            {% block usertools %}
                {% if has_permission %}
                <div id="user-tools">
                    {% block welcome-msg %}
                        {% trans '欢迎,' %}
                        <strong>{% firstof username %}.</strong>
                    {% endblock %}
                    {% block userlinks %}
                        {% if user.is_active and user.is_staff %}
                            {% url 'django-admindocs-docroot' as docsroot %}
                            {% if docsroot %}
                                <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                            {% endif %}
                        {% endif %}
                        {% if user.has_usable_password %}
                        <a href="/resetpwd/">{% trans '修改密码' %}</a> /
                        {% endif %}
                        <a href="/logout/">{% trans '安全登出' %}</a>
                    {% endblock %}
                </div>
                {% endif %}
            {% endblock %}
        </div>
        <!-- END Header -->
    {% endif %}

    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-2 left">
                {% block left_panel %}
                
                {% endblock %}
            </div>

            <div class="col-md-7 middle">
                {% block main %}

                {% endblock %}
            </div>

            <div class="col-md-3 right">
                {% block right_panel %}

                {% endblock %}
            </div>
        </div>
    </div>
    <!-- END Content -->

    <!-- footer -->
    {% block footer %}<div id="footer"></div>{% endblock %}
    <!-- END footer -->
</div>
<!-- END Container -->

</body>
</html>
