{% load i18n admin_static staticfiles %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{{CONFIG.sysname}}{% endblock %}</title>
    <style type="text/css">
        body {
        padding-bottom: 40px;
        }
        .sidebar-nav {
        padding: 9px 0;
        }
        .nav .nav-header {
        font-size: 13px;
        line-height:38px;       
        }

        .nav-tabs > li > a, .nav-pills > li > a{
        font-size: 11px;
        padding-left: 36px;
        font-weight: normal;        
        }
        .active a .hidden-tablet{
        font-size: 11px;
        color: #999999;
        }
        .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }  
        .ui-timepicker-div dl { text-align: left; }  
        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }  
        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }  
        .ui-timepicker-div td { font-size: 90%; }  
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }   
    </style>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-cerulean.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/charisma-app.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui-1.8.21.custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/fullcalendar.print.css' %}">
    <link rel="stylesheet" href="{% static 'css/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'css/uniform.default.css' %}">
    <link rel="stylesheet" href="{% static 'css/colorbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.cleditor.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.noty.css' %}">
    <link rel="stylesheet" href="{% static 'css/noty_theme_default.css' %}">
    <link rel="stylesheet" href="{% static 'css/elfinder.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/elfinder.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.iphone.toggle.css' %}">
    <link rel="stylesheet" href="{% static 'css/opa-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/uploadify.css' %}">
</head>
{% load i18n %}

<body>

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="Header" class="row-fluid">
        {% block header %}
            <div class="navbar-header">
                {% block navbarbranding %}
                <a href="#" class="navbar-brand">办案取号系统</a>
                {% endblock %}
            </div>
            {% block usertools %}
                {% if has_permission %}
                <div id="user-tools">
                    {% block welcome-msg %}
                        {% trans '欢迎,' %}
                        <strong>{% firstof username %}.</strong>
                    {% endblock %}
                    {% block userlinks %}
                        {% if user.has_usable_password %}
                        <a href="/resetpwd/">{% trans '修改密码' %}</a> /
                        {% endif %}
                        <a href="/logout/">{% trans '安全退出' %}</a>
                    {% endblock %}
                </div>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="Content" class="row-fluid">
        <!-- left menu starts -->
        <div class="span2 main-menu-span">
            <div class="well nav-collapse sidebar-nav bs-example-js-navbar-scrollspy">
                <ul class="nav nav-tabs nav-stacked main-menu">
                {% if has_permission %}
                    {% block left_panel %}
                        {% for item in CONFIG.left_panel %}
                            <li class="nav-header hidden-tablet" style="cursor:pointer;">{{item.name}}</li>
                            <ul class="nav nav-tabs nav-stacked main-menu">
                            {% for keyson, valueson in item.list.items %}
                                <li>
                                    <a class="ajax-link" href="{% url 'index_list' %}?{{valueson}}">
                                        <span class="hidden-tablet">{{keyson}}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endfor %}

                        <br>
                        {% if user.is_superuser %}
                            <li class="nav-header hidden-tablet" style="cursor:pointer;"><span class="glyphicon glyphicon-lock">管理员工具</span></li>
                            <ul class="nav nav-tabs nav-stacked main-menu">
                                <li><a class="ajax-link" href="source/showadmin.php" target="main"><span class="hidden-tablet">所有管理员</span></a></li>
                                <li><a class="ajax-link" href="source/addadmin.php" target="main"><span class="hidden-tablet">添加管理员</span></a></li>
                                <li><a class="ajax-link" href="source/admingroup.php" target="main"><span class="hidden-tablet">管理员分组</span></a></li>
                            </ul>
                        {% endif %}
                    {% endblock %}
                {% endif %}
                </ul>                   
            </div>
        </div>
        <!-- left menu ends --> 

        <!-- main menu --> 
        <div id="content" class="span10">
            {% if has_permission %}
                    {% block main_panel %}
                    <div class="well nav-collapse sidebar-nav">
                        <ul class="nav nav-tabs nav-stacked main-menu">
                            <h1><small>欢迎使用{{CONFIG.sysname}}</small></h1>
                        </ul>
                    </div>
                {% endblock %}
            {% endif %}
        </div>
        <!-- main menu ends --> 
    </div>
    <!-- END Content -->

    <br><br><br><br>
    <!-- footer -->
    {% block footer %}
    <div id="footer" class="span12">
        <p class="center">&copy;2015  Powered by: <a href="#">{{CONFIG.sysname}}</a></p>
    </div>
    {% endblock %}
    <!-- END footer -->
</div>
<!-- END Container -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <!-- jQuery UI -->
    <script src="{% static 'js/jquery-ui-1.8.21.custom.min.js' %}"></script>
    <!-- transition / effect library -->
    <script src="{% static 'js/bootstrap-transition.js' %}"></script>
    <!-- alert enhancer library -->
    <script src="{% static 'js/bootstrap-alert.js' %}"></script>
    <!-- modal / dialog library -->
    <script src="{% static 'js/bootstrap-modal.js' %}"></script>
    <!-- custom dropdown library -->
    <script src="{% static 'js/bootstrap-dropdown.js' %}"></script>
    <!-- scrolspy library -->
    <script src="{% static 'js/bootstrap-scrollspy.js' %}"></script>
    <!-- library for creating tabs -->
    <script src="{% static 'js/bootstrap-tab.js' %}"></script>
    <!-- library for advanced tooltip -->
    <script src="{% static 'js/bootstrap-tooltip.js' %}"></script>
    <!-- popover effect library -->
    <script src="{% static 'js/bootstrap-popover.js' %}"></script>
    <!-- button enhancer library -->
    <script src="{% static 'js/bootstrap-button.js' %}"></script>
    <!-- accordion library (optional, not used in demo) -->
    <script src="{% static 'js/bootstrap-collapse.js' %}"></script>
    <!-- carousel slideshow library (optional, not used in demo) -->
    <script src="{% static 'js/bootstrap-carousel.js' %}"></script>
    <!-- autocomplete library -->
    <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>
    <!-- tour library -->
    <script src="{% static 'js/bootstrap-tour.js' %}"></script>
    <!-- library for cookie management -->
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <!-- calander plugin -->
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
    <!-- data table plugin -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-timepicker-addon.js' %}"></script>

    <!-- chart libraries start -->
    <script src="{% static 'js/excanvas.js' %}"></script>
    <script src="{% static 'js/jquery.flot.min.js' %}"></script>
    <script src="{% static 'js/jquery.flot.pie.min.js' %}"></script>
    <script src="{% static 'js/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'js/jquery.flot.resize.min.js' %}"></script>
    <!-- chart libraries end -->

    <!-- select or dropdown enhancer -->
    <script src="{% static 'js/jquery.chosen.min.js' %}"></script>
    <!-- checkbox, radio, and file input styler -->
    <script src="{% static 'js/jquery.uniform.min.js' %}"></script>
    <!-- plugin for gallery image view -->
    <script src="{% static 'js/jquery.colorbox.min.js' %}"></script>
    <!-- rich text editor library -->
    <script src="{% static 'js/jquery.cleditor.min.js' %}"></script>
    <!-- notification plugin -->
    <script src="{% static 'js/jquery.noty.js' %}"></script>
    <!-- file manager library -->
    <script src="{% static 'js/jquery.elfinder.min.js' %}"></script>
    <!-- star rating plugin -->
    <script src="{% static 'js/jquery.raty.min.js' %}"></script>
    <!-- for iOS style toggle switch -->
    <script src="{% static 'js/jquery.iphone.toggle.js' %}"></script>
    <!-- autogrowing textarea plugin -->
    <script src="{% static 'js/jquery.autogrow-textarea.js' %}"></script>
    <!-- multiple file upload plugin -->
    <script src="{% static 'js/jquery.uploadify-3.1.min.js' %}"></script>
    <!-- history.js for cross-browser state change on ajax -->
    <script src="{% static 'js/jquery.history.js' %}"></script>
    <!-- application script for Charisma demo -->
    <script src="{% static 'js/charisma.js' %}"></script>

</body>
</html>
