<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Bootstrap</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	

	<style>
		body {
			padding-top: 50px;
		}
		.starter{
			padding:40px 15px;
			text-align: center;
		}
	</style>
</head>
<body>
<div class="container">
      
	<h2>简单的折叠</h2>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">简单的折叠</button>
      <div id="demo" class="collapse in">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
</div>
</body>
</html>