<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load staticfiles %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  -->
    <title>登陆</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
<!--
	<div class="container">
		<form class="form-signin" role="form" enctype="multipart/form-data">
			{% csrf_token %}
			<h2 class="form-signin-heading">欢迎登陆</h2>
			<input type="text" class="form-control" placeholder="username"
			required autofocus>
			<input type="password" class="form-control" placeholder="password"
			required>
			<lable class="checkbox">
				<input type="checkbox" value="remember-me"> 阅读用户协议
			</lable>
			<button class="btn btn-lg btn-primary btn-block" type="submit">登陆
			</button>
		</form>
	</div>
	
<h1>登陆页面：</h1>
<form method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    {{uf.as_myp}}
    <input type="submit" value = "ok" />
</form>
<br>
<a href="http://127.0.0.1:8000/register/">注册</a>
-->

<div class="container">
<form class="form-signin" method="post" role="form" enctype="multipart/form-data">
	{% csrf_token %}
	<h2 class="form-signin-heading">欢迎登陆</h2>
    <fieldset>
        <legend>{{ title }}</legend>
        {% for field in uf %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>
    <lable class="checkbox col-sm-offset-2 col-sm-10">
		<input type="checkbox" value="remember-me"> 阅读用户协议
	</lable>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
    <br>
	<a href="http://127.0.0.1:8000/register/">注册</a>
	<a href="http://127.0.0.1:8000/register/">忘记密码</a>
    <!--
    <div class="form-actions">
    	<button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </div>-->
</form>
</div>


</body>
</html>