<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Bootstrap</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<style>
		body {
			padding-top: 50px;
		}
		.starter{
			padding:40px 15px;
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="panel span2 panel-default">
	  <div class="panel-body">
	    <h3>文章分类</h3>
	    {% if categories %}
	    <ul class="list-unstyled">
	    {% for c in categories %}
	      <li>- {{ c.name|safe }}</li>
	    {% endfor %}
	    </ul>
	    {% endif %}
	</div>
	</div>


		<div id="content" class="span2">
            <div class="well nav-collapse sidebar-nav ">
                <ul class="nav nav-tabs nav-stacked main-menu in">
                {% if has_permission %}
                    {% block left_panel %}
                        {% for item in CONFIG.left_panel %}
                            <li class="nav-header hidden-tablet" style="cursor:pointer;">{{item.name}}
                            </li>
                            <ul class="nav nav-tabs nav-stacked main-menu">
                            {% for keyson, valueson in item.list.items %}
                                <li>
                                    <a class="ajax-link" href="{% url 'index_list' %}?{{valueson}}">
                                        <span class="hidden-tablet">{{keyson}}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endfor %}

                        <br>
                        {% if user.is_superuser %}
                            <li class="nav-header hidden-tablet" style="cursor:pointer;"><span class="glyphicon glyphicon-lock">管理员工具</span></li>
                            <ul class="nav nav-tabs nav-stacked main-menu">
                                <li><a class="ajax-link" href="source/showadmin.php" target="main"><span class="hidden-tablet">所有管理员</span></a></li>
                                <li><a class="ajax-link" href="source/addadmin.php" target="main"><span class="hidden-tablet">添加管理员</span></a></li>
                                <li><a class="ajax-link" href="source/admingroup.php" target="main"><span class="hidden-tablet">管理员分组</span></a></li>
                            </ul>
                        {% endif %}
                    {% endblock %}
                {% endif %}
                </ul>
            </div>
        </div>

		<!-- left menu starts -->
        <div class="span2 main-menu-span">
            <div class="well nav-collapse sidebar-nav ">
                <ul class="nav nav-tabs nav-stacked main-menu in">
                {% if has_permission %}
                    {% block left_panel %}
                        {% for item in CONFIG.left_panel %}
                            <li class="nav-header hidden-tablet" style="cursor:pointer;">{{item.name}}
                            </li>
                            <ul class="nav nav-tabs nav-stacked main-menu">
                            {% for keyson, valueson in item.list.items %}
                                <li>
                                    <a class="ajax-link" href="{% url 'index_list' %}?{{valueson}}">
                                        <span class="hidden-tablet">{{keyson}}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endfor %}

                        <br>
                        {% if user.is_superuser %}
                            <li class="nav-header hidden-tablet" style="cursor:pointer;"><span class="glyphicon glyphicon-lock">管理员工具</span></li>
                            <ul class="nav nav-tabs nav-stacked main-menu">
                                <li><a class="ajax-link" href="source/showadmin.php" target="main"><span class="hidden-tablet">所有管理员</span></a></li>
                                <li><a class="ajax-link" href="source/addadmin.php" target="main"><span class="hidden-tablet">添加管理员</span></a></li>
                                <li><a class="ajax-link" href="source/admingroup.php" target="main"><span class="hidden-tablet">管理员分组</span></a></li>
                            </ul>
                        {% endif %}
                    {% endblock %}
                {% endif %}
                </ul>
            </div>
        </div>
        <!-- left menu ends --> 
</body>
</html>