<!DOCTYPE html>

<html>
	{% load staticfiles %} <!-- bootstrap -->
	{% load extra_tags %}  <!-- 过滤器和标签 -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Bootstrap</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<style>
		body {
			padding-top: 50px;
		}
		.starter{
			padding:40px 15px;
			text-align: center;
		}
	</style>
</head>
<body>
	{{ num }}
	{{ key | cut:"o"}}
	{% current_time "%Y-%m-%d %H:%M:%S" %}

	{% for b in object_list %}
			{{ b.title }}
		{% endfor %}
</body>
</html>