            <div class="panel-group" id="accordion">
                {% for item in config.left_panel %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>{{item.name}}</a>
                        </h4>
                    </div>
                    <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse {% if '{{item.index}}/ListGaoZi' = request.path or '{{item.index}}/ListTingGaoZi' = request.path or '{{item.index}}/ListChuZi' = request.path%} in {% endif %}">
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    {% ifequal 1 item.flag.0 %}
                                    {% url 'ListGaoZi' item.index as thelistgaoziurl %}
                                    <tr><td>
                                            <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={{thelistgaoziurl}}>开工商告字</a>
                                    </td></tr>
                                    {% endifequal %}
                                    {% ifequal 1 item.flag.1 %}
                                    {% url 'ListTingGaoZi' item.index as thelisttinggaoziurl %}
                                    <tr><td>
                                            <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={{thelisttinggaoziurl}}>开工商听告字</a>
                                    </td></tr>
                                    {% endifequal %}
                                    {% ifequal 1 item.flag.2 %}
                                    {% url 'ListChuZi' item.index as thelistchuziurl %}
                                    <tr><td>
                                            <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={{thelistchuziurl}}>开工商处字</a>
                                    </td></tr>
                                    {% endifequal %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% if user.is_superuser %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEnd" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>用户管理</a>
                        </h4>
                    </div>
                    <div id="collapseEnd" class="panel-collapse collapse {% if 'user' in request.path or 'role' in request.path or 'permission' in request.path %} in {% endif %}">
                        <div class="panel-body">
                            <table class="table"><tbody>
                                <tr><td>
                                    <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listuserurl" %}>用户管理</a>
                                </td></tr>
                                <tr><td>
                                    <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listroleurl" %}>角色管理</a>
                                </td></tr>
                                <tr><td>
                                    <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listpermissionurl" %}>权限管理</a>
                                </td></tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
